
:root{
    --texto-color: #000000;
    --card-front-color: #006dfc; 
    --card-back-color: #00fd15;
   }
body {
    background-color: rgb(8, 32, 243);
    font-family: Bai Jamjuree;
   }
.cartao__conteudo {
   background-color: aquamarine;
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition:transform 300ms ease-in-out;
   }
#conteiner{ 
     display: flex;
     flex-wrap: wrap;
    }
.cartao { 
     margin:1rem 1rem;
     height: 20rem;
     flex-grow: 1;
     flex-basis: calc(33%- 6rem)
   }
footer {
     background-color: rgb(7, 7, 7)
     color: white;
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 2rem;
   }
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
   }
    